body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bi-shield-plus {
  font-size: 23px;
  color: 'currentColor';
  transition: color 0.17s ease;
}

.bi-shield-plus:hover {
  color: grey;
}

.custom-invalid-tooltip {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  padding: 5px;
  z-index: 10;
}

.customDropdown .dropdown-toggle {
  border-radius: 0 15% 15% 0;
}